@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
    width: 100%;
    max-width: var(--width-large);
    padding: 0 1.5em;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
}

.project_container {
    padding: 1rem;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 200ms ease-in;

    @nest & > .in_focus {
        transform: scale(-8);
    }
    
    @nest & > .project_title {
        font-size: var( --font-large-size);
    }
    
    @nest & > .client {
        font-size: var( --font-base-size);
    }

    @nest & > .overview {
        font-size: var( --font-small-size);
        max-width: var(--width-small);
        margin-top: 0.5em;
    }
}

.project_snapshot {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.snapshot_item {
    display: block;
    margin-right: 20px;
    @nest & > .snapshot_item_label {
        font-size: var(--font-micro-size);
        font-weight: bold;
    }
    @nest & > .snapshot_item_value {
        @nest & > span {
            display: inline-block;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            background-color: #C4C4C4;
            margin-right: 0.5rem;
            font-size: var(--font-micro-size);
        }
    }
}

.focus_project_container {
    padding: 1rem;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    opacity: 1;
    transform: scale(700%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: top 400ms ease-out, bottom 400ms ease-out, opacity 500ms ease-out;
    transform-origin: center center;
}
.hidden_content {
    position: fixed;
    transition: top 400ms ease-out, bottom 400ms ease-out, opacity 500ms ease-out;
    transform-origin: center center;
    top: 50%;
    bottom: 50%;
    right: 25%;
    left: 25%;
    opacity: 0;
}

.overlay_close {
    position: fixed;
    top: 30px;
    right: 30px;
}

.loader {
    padding: 1rem;
    width: 100%;
}