@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hideScroll {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 100vh;
    &::-webkit-scrollbar {
        display: none;
    }
}

.project_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 200ms ease-in;
    align-items: center;
    @nest & > .in_focus {
        transform: scale(-8);
    }
    
    @nest & > .project_title {
        font-size: var( --font-large-size);
    }
    
    @nest & > .client {
        font-size: var( --font-base-size);
    }

    & .overview {
        font-size: var( --font-small-size);
        max-width: 60%;
        margin-top: 0.5em;
    }
    & .inner_container {
        min-height: 225px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: var(--width-large);
        background-position-x: right;
        background-position-y: bottom;
        background-size: 50%;
        background-repeat: no-repeat;
    }
}

.project_snapshot {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.snapshot_item {
    display: block;
    margin-right: 20px;
    @nest & > .snapshot_item_label {
        font-size: var(--font-micro-size);
        font-weight: bold;
    }
    @nest & > .snapshot_item_value {
        @nest & > span {
            display: inline-block;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            background-color: #C4C4C4;
            margin-right: 0.5rem;
            font-size: var(--font-micro-size);
        }
    }
}


.loader {
    padding: 1rem;
    width: 100%;
}